<br>
<form>
    <div class="row">
        <div class="col">
            <input type="text" placeholder="genre" ng-model="vm.genreAdd.type">
            <button ng-click="vm.addGenre(vm.genreAdd)">Add Genre</button>
        </div>
    </div>
</form>
<br>
<div layout="row" layout-margin>
    <div flex>
        <md-content class="md-padding"  layout="row" layout-wrap>
            <md-card ng-repeat="count in vm.getCountGenre.count" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{count.type}}</span>
                        <span class="md-subhead">{{count.count}} movies in this category.</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="col" layout-align="center">
                    <md-button class="md-warn md-raised md-hue-2" ng-click="vm.deleteGenre(count)">Delete</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </div>
</div>